{% extends "warden/warden_layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h4>
        Your portfolio does not appear to have any positions yet</br>
      </h4><br>
      {% if current_app.downloading%}
      <p>Still Downloading in Background. Please refresh in a few minutes.</p>
      <p>You can check the progress on the <a href='/show_broadcast'>Message Monitor</a></p>
      {%else%}
      <h5>Check Specter Authentication to make sure credentials are working.</h5>
      <p>You can check the status on the <a href='/show_broadcast'>Message Monitor</a></p>
      {%endif%}
      <br>

      <div>
        <div class="col-sm-4">
          <img class="mx-auto d-block" src="static/images/empty.png" width="75" height="125"></img>
        </div>
      </div>
    </div>


    {% endblock content %}