{% extends "warden/warden_layout.html" %}
{% block content %}

<div class="container" style='padding-top: 50px;'>
  <div class="row">
    <div class="col-sm-8">
      <h4 class='text-info'>
        No Transactions Found
      </h4>
      <h5>Maybe you are new here?</br></br>
        You can start by manually including some <a href="{{url_for('warden.newtrade')}}">transactions</a>.</br>
        </br>
        If you have a CSV with your transactions you can <a href='/importcsv'>import it</a>.</br>
        </br>
        Or try <a href='/specter_auth'>connecting Specter Server</a> to automatically get wallet transactions.
      </h5>
    </div>

    <div class="col-sm-4">
      <img class="mx-auto d-block" src="static/images/empty.png" width="75" height="125"></img>
    </div>
  </div>
</div>


{% endblock content %}