{% extends "warden/warden_layout.html" %} {% block content %}
<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="">
                <i class="fa-solid fa-file-invoice-dollar fa-lg text-muted"></i>
                &nbsp;&nbsp;
                No Transactions Found
            </h3>
            <hr>
            <h5>
                <span class="next-arrow">
                    <i class="fa-solid fa-circle-arrow-right fa-lg text-dark"></i>
                </span>
                &nbsp;&nbsp;
                <a href="/newtrade">Start Here</a>
                to include a transaction to your portfolio or
            </h5>
            <br>
            <hr>
            <h4>You can also include transactions by:</h4>
            <br>
            <brr>
                <h5>
                    <i class="fa-solid fa-file-import fa-lg text-success"></i>
                    &nbsp;&nbsp;
                    <a href="/importcsv">importing</a>
                    a CSV file with full transaction history
                </h5>
                <br>
                <h5>
                    <i class="fa-solid fa-ghost fa-lg text-danger"></i>
                    &nbsp;&nbsp;
                    <a href="/specter_auth">connecting</a>
                    to a Specter Server
                </h5>
            </div>
        </div>
    </div>
    {% endblock content %}
