<link rel="stylesheet" href="{{url_for('warden.static', filename='css/welcome.css')}}">
<link rel="stylesheet" href="{{url_for('warden.static', filename='dependencies/font-awesome/css/all.css')}}">
<link rel="stylesheet" href="{{url_for('warden.static', filename='dependencies/bootstrap/css/bootstrap.min.css')}}">

<title>The WARDen | Welcome</title>
<link rel="icon" href="{{url_for('warden.static', filename='images/favicon-bitcoin.ico')}}" class="invert">

<div id="container" class='bg_image'>
    <section class="showcase" class='slide_div_out'>

        <div class="content">

            <form class="d-flex flex-column form-container w-100 align-items-center" method="POST" action="">
                <!-- Important to include the below for added security -->
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}

                    </div>


                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn px-4 login-button btn-dark btn-lg")}}
                </div>
            </form>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have an Account? <a class="ml-2" href="{{ url_for('warden.login')}}">Log In</a>
                </small>
            </div>

            </br>
            <small>
                <a href="/initial_setup?page=1" class="btn">Back to Welcome Page</a>
            </small>
        </div>
    </section>
</div>