{% extends "warden/warden_layout.html" %}
{% block content %}
<div class="container-fluid" style="padding-bottom: 200px;">
    <form class="form-group" method="post" action="/host_list">
        <input
            type="text"
            class="form-control"
            name="new_url"
            id="new_url"
            placeholder="[+] Add new host / service URL (ex. http://192.168.1.1:5000/ or xyzxyz.onion)"
        >
    </form>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12">
            <div id="output">
                Loading...
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('warden.static', filename='js/utils.js')}}"></script>
<script src="{{url_for('warden.static', filename='js/running_services.js')}}"></script>
{% endblock content %}
