{% extends "warden/warden_layout.html" %}
{% block content %}


<div id="container-fluid" style='color:rgb(61, 61, 61); padding-bottom: 200px;'>
  <section class="showcase">

    {%if not current_app.specter.specter_auth%}
    <div class="content" style='color:rgb(61, 61, 61);'>
      <img src='{{url_for('warden.static', filename='images/specter_icon.png')}}' width="50">
      <h4>
        Connect to Specter Server<br>
      </h4>

      <hr>

      <form class='' action="{{ url_for('warden.specter_auth') }}" method="post">

        <div class="row text-left">
          <div class='col-2'>
          </div>
          <div class='col-10'>
            <p>
              <img src='{{url_for('warden.static', filename='images/Tor-logo.png')}}' width="35">
              &nbsp;Onion Addresses are supported<small><br> (Go to Specter > Settings > Tor > Enable Tor
                Hidden
                Service)</small>
            </p>
          </div>
        </div>

        <div class="form-group row text-left">

          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Specter Server
            URL</label>
          <div class="col-sm-10">

            <input type="text" class="form-control form-control" name="url"
              value="{{current_app.settings['SPECTER']['specter_url']}}">
            <small class='text-left'>
              <p style='padding-top:20px;'>Typically this is http://127.0.0.1:25441/ or
                http://localhost:25441/</p>
            </small>
          </div>
        </div>
        <div class="form-group row text-left">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Username<span
              class='small text-muted'>&nbsp;&nbsp;(blank if
              None)</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control" name="username"
              value="{{current_app.settings['SPECTER']['specter_login']}}">
          </div>
        </div>
        <div class="form-group row text-left">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Password<span
              class='small text-muted'>&nbsp;&nbsp;(blank if
              None)</span></label>
          <div class="col-sm-10 text-left">
            <input type="password" class="form-control form-control" name="password"
              value="{{current_app.settings['SPECTER']['specter_password']}}">
            <br>
            <button id='submit_button' type="submit" class="btn btn-lg btn-outline-primary">Connect</button>

          </div>
        </div>

      </form>


      <h5 class='text-left' style='padding-top:50px;''>Why connect to Specter Server?</h5>
            <p class=' text-left'><i class="fas fa-ghost"></i>&nbsp;Automatically download Bitcoin transactions into
        your
        portfolio</p>
        <p class='text-left'><i class="fas fa-ghost"></i>&nbsp;Wallet summary and activity notification</p>
        <p class='text-left'><i class="fas fa-ghost"></i>&nbsp;Check your stack progress</p>
        <br>
        <h5 class='text-left'>Is it safe?</h5>
        <p class='text-left'>
          <i class="fas fa-plug"></i>&nbsp;The WARden will connect to Specter Server the same way your browser
          does.</p>
        <p class='text-left'>
          <i class="fab fa-github"></i>&nbsp;But don't trust us, check the code to see how it's done (check
          file
          <a class='' style="text-decoration : none" href='https://github.com/pxsocs/specter_warden/'><span
              style='color: darkgreen'>specter_importer.py</span></a>).
        </p>
        <p class='text-left'><i class="fas fa-file-import"></i>&nbsp;Alternatively, you can choose not to
          connect
          Specter Server and manually import a csv
          file with your
          transactions later.</p>


    </div>
    {%else%}
    <div class="content col-10" style='color:rgb(61, 61, 61); padding-top: 50px; padding-left:50px;'>
      <h4><i class="fas fa-ghost"></i>&nbsp;&nbsp;Connected to Specter Server</h4>
      <br>
      <p>
        <i class="far fa-check-square text-success"></i>&nbsp;
        Specter Server running at: <span class='float-right'><a href="{{current_app.specter.base_url}}"
            target='_blank'>{{current_app.specter.base_url}}</a></span>
      </p>
      <p>
        <i class="far fa-check-square text-success"></i>&nbsp;
        Running Specter Version: <span class='float-right'>{{current_app.specter.home_parser()['version']}}</span>
      </p>
      <p>
        <i class="far fa-check-square text-success"></i>&nbsp;
        Running Bitcoin Core Version:
        <span
          class='float-right'>{{current_app.specter.home_parser()['bitcoin_core_data']['Bitcoin Core Version']}}</span>
      </p>
    </div>
    {%endif%}

  </section>

  <section class="showcase">

  </section>
</div>


<script>
  $('#submit_button').click(function () {
    $('#submit_button').html(
      'Checking Credentials.  Please Wait. This can take a while...');
  });
</script>

{% endblock content %}