{% extends "warden/warden_layout.html" %} {% block content %}
<!-- Datatables.net CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<h6>Trade History</h6>
<div class="row">
    <div class="col-sm-12">
        <table id="transactionstable" class="table table-sm align-middle">
            <thead>
                <tr>
                    <th class="small" scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Ticker
                    </th>
                    <th class="small" scope="col">
                        Operation
                    </th>
                    <th scope="col">
                        Quantity
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th class="small" scope="col">
                        fx
                    </th>
                    <th class="small" scope="col">
                        Fees
                    </th>
                    <th scope="col">
                        Account
                    </th>
                    <th class="small" scope="col">
                        Notes
                    </th>
                    <th class="small" scope="col">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody id="transactions">
                {% for transaction in transactions %}
                <tr id="id{{transaction.id}}">
                    <th class="align-middle text-center small" scope="row">
                        {{transaction.trade_date.strftime('%Y-%m-%d')}}
                    </td>
                    <td class="align-middle text-center" scope="row">{{transaction.trade_asset_ticker}}</td>
                    <td class="align-middle text-center small" scope="row">{{transaction.trade_operation}}</td>
                    <td class="align-middle text-end" scope="row">
                        {{"{:,.2f}".format(transaction.trade_quantity)}}
                    </td>
                    <td class="align-middle text-end" scope="row">
                        {{transaction.trade_currency | fxsymbol}}
            {{"{:,.2f}".format(transaction.trade_price)}}
                    </td>
                    <td class="align-middle text-end small" scope="row">
                        {{transaction.trade_currency}}
                    </td>
                    <td class="align-middle text-end small" scope="row">
                        {{transaction.trade_currency | fxsymbol}}
            {{"{:,.2f}".format(transaction.trade_fees)}}
                    </td>
                    <td class="align-middle text-start" scope="row">{{transaction.trade_account}}</td>
                    <td class="align-middle text-center small" scope="row">{{transaction.trade_notes}}</td>
                </td>
                <td class="align-middle text-center small" scope="row">
                    <a href="/edittransaction?id={{transaction.id}}">
                        <i class=" far fa-edit"></i>
                    </a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
</div>
<script>
  $(document).ready(function () {
    $('#transactionstable').DataTable({
      "order": [0, 'desc'],
      "pageLength": 100
    });
  });
</script>
{% endblock content %}
