{% extends "warden/warden_layout.html" %}
{% block content %}
<!--  High Charts -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Thank You!</h1>
            </br>
            </br>
            <p>
                <strong style="font-size:  20px;" class="">
                    This is an Open Source
          project
                </strong>
            </p>
            </br>
            </br>
            <p>
                We believe Open Source is the future of development for bitcoin. There is no other
        way when transparency and privacy are critical.
            </p>
            <p>
                Thanks for supporting a future where software is built with these ideals.
            </p>
            </br>
            <h3>
                <a href="https://hrf.org/devfund" target="_blank">Support</a>
                The Bitcoin Development Fund
            </h3>
        </div>
    </div>
</div>
{% endblock content %}
