ansi==0.3.6
APScheduler==3.9.1.post1
beautifulsoup4==4.11.1
embit==0.6.1
emoji==2.2.0
Flask==2.2.2
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
itsdangerous==2.1.2
numpy==1.24.1
packaging==22.0
pandas==1.5.2
requests==2.28.1
simplejson==3.18.0
SQLAlchemy==1.4.45
SQLAlchemy-Utils==0.39.0
stem==1.8.1
Werkzeug==2.2.2
WTForms==3.0.1
yaspin==2.2.0
yfinance==0.2.3
