

<div class="row">
  <div class="text-start text-light">Scatter Plot of Returns
  <span class="float-end"
    >from {{data.METADATA.min_date.strftime("%B, %Y")}} to
    {{data.METADATA.max_date.strftime("%B, %Y")}}</div>

  <div class="col-6 text-center">
    <div class="chart-section">
      <div id="scatter_assets_chart" style="min-width: 100%; height: 400px"></div>
    </div>
  </div>

  <div class="col-6 text-center">
    <div class="chart-section">
      <div id="scatter_portfolios_chart" style="min-width: 100%; height: 400px"></div>
    </div>
  </div>
</div>